# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
server/node_modules
/.pnps
.pnp.js
.env

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
test.http
/server/src/resolvers/keys.js
webtask-snippet.js
sample.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
server/package-lock.json
server/yarn.lock
