@import "accordion.css";

.App {
  text-align: center;
}

#root,
#app,
#map {
  height: 100%;
}

#map {
  height: 350px;
  width: 100%;
  padding: 25px;
}

#tab-joy {
  width: 100%;
}
#tab-sadness {
  width: 100%;
}
#tab-anger {
  width: 100%;
}
#tab-fear {
  width: 100%;
}
#tab-disgust {
  width: 100%;
}

.updateGrid {
  width: 98%;
  visibility: block;
}
