# Create IBM API keys: https://www.ibm.com/cloud watson-natural-language-understanding

IBM_API_KEY=PLACEHOLDER

# Create Twitter API keys: https://developer.twitter.com/en

TWITTER_CONSUMER_KEY=PLACEHOLDER
TWITTER_CONSUMER_SECRET=PLACEHOLDER
TWITTER_ACCESS_TOKEN=PLACEHOLDER
TWITTER_ACCESS_TOKEN_SECRET=PLACEHOLDER